{% extends 'adminbase.html.twig' %}

{% block title %}Setting index{% endblock %}

{% block body %}
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                    <a href="{{ path('admin_setting_new') }}" class="btn btn-space btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Company</th>
                <th>Email</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.title }}</td>
                <td>{{ setting.company }}</td>
                <td>{{ setting.email }}</td>
                <td>{{ setting.status }}</td>
                <td>
                    <a href="{{ path('admin_setting_show', {'id': setting.id}) }}" class="btn btn-space btn-primary">show</a>
                    <a href="{{ path('admin_setting_edit', {'id': setting.id}) }}" class="btn btn-space btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                </h3>
            </div>
        </div>
    </div>
{% endblock %}
