<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							{% set count=0 %}
							{% for rs in slider %}
								{% set count=count+1 %}


							<div class="item {% if count==1 %} active {%endif%}">
								<div class="col-sm-6">
									<h1>{{ rs.title }}</h1>
									<h2>{{ rs.price}}</h2>
									<p>{{ rs.description }}</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<a href="{{ path('product_show', {'id': rs.id}) }}">
									<img src="{{asset('uploads/images/' ~rs.image)}}" class="girl img-responsive" alt="" style="width: 444px ; height: 401px"/>
									</a>
								</div>
							</div>

							{% endfor %}

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
				</div>
		</div>
</section><!--/slider-->